.image {
  height: 50px;
}

.products-cards {
  width: 250px!important;
}
.shop-btn {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
.card:hover .shop-btn{
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}